.navbar{
  font-family: "Quicksand", sans-serif;
}
section {
  font-family: "Quicksand", sans-serif;
}
.sub-title {
  font-weight: 400;
}
.thumb {
  background-color: #3d3d3d;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: white;
}
.thumb-navbar {
  background-color: white;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  padding-top: 2px;
  padding-bottom: 4px;
}